:80 {
  log {
    output stdout
    format console
  }

  @mechbay_noslash path /mechbay
  redir @mechbay_noslash /mechbay/ 308

  handle /mechbay/* {
    uri strip_prefix /mechbay
    reverse_proxy mechbay:5000 {
      header_up X-Script-Name /mechbay
      header_up X-Forwarded-Prefix /mechbay
    }
  }

  @waypoint_noslash path /waypoint
  redir @waypoint_noslash /waypoint/ 308

  handle /waypoint/* {
    uri strip_prefix /waypoint
    reverse_proxy waypoint:5000 {
      header_up X-Script-Name /waypoint
      header_up X-Forwarded-Prefix /waypoint
    }
  }

  @timetracker_noslash path /timetracker
  redir @timetracker_noslash /timetracker/ 308

  handle /timetracker/* {
    uri strip_prefix /timetracker
    reverse_proxy timetracker:5000 {
      header_up X-Script-Name /timetracker
      header_up X-Forwarded-Prefix /timetracker
    }
  }

  handle / {
    respond "Hub is running. Try /mechbay, /waypoint, /timetracker" 200
    }
}
